@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

            <AuthorizeView>
                <NotAuthorized>
                    <div class="top-row px-4">                       
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                    
                </NotAuthorized>
                <Authorized>
                    <div class="top-row px-4">
                        <TopMenu />
                        <a class="nav-link" @onclick="Logout" style="cursor: pointer">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </a>
                    </div>
                   
                </Authorized>
            </AuthorizeView>

        
        <div class="content px-4 container">
            @Body
        </div>
    </main>
</div>


<BlazoredToasts />

@code {

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("token");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
}