@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService

@if (category != null)
{
    <h1>Welcome to the @category.Name section!</h1>
    <ProductList CategoryId="@category.Id"/>
}
else
{
    <AuthorizeView Roles="Admin">
        <NotAuthorized>
            <h1 class="mt-5">Welcome to ECommerce!!!</h1>
            <h3 class="mt-2">You need to log in</h3>
        </NotAuthorized>
        <Authorized>
            <h1 class="mt-5">Welcome back @context.User.Identity.Name!!! </h1>
            <ProductList/>
        </Authorized>
    </AuthorizeView>
   
    
}



@code{
    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {

        if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else{
            category = null;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await ProductService.LoadProducts();
    }
}
