@page "/register"
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient Http
@inject IToastService ToastService


<h3>Register</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="user.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Register</button>
</EditForm>

@code {
    UserLoginDto user = new UserLoginDto();


    private async Task HandleLogin()
    {
        var result = await Http.PostAsJsonAsync("api/Auth/register", user);
        if (result.IsSuccessStatusCode)
        {
            ToastService.ShowSuccess("Registered successfully", "Success");
            NavigationManager.NavigateTo("");
        }
        else
        {
            ToastService.ShowError("Sorry, there was a error registering your user. Maybe there is already a user with your username and password!!!", "Error");
        }

    }
}
